@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

html {
  --cursor-color: #ff6b6b; /* A warm, noticeable coral red */
}
html.dark-mode {
  --cursor-color: #4ade80; /* A soft, neon green */
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
  /* hides scrollbar but keeps scroll */
}