

@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none; /* hides scrollbar but keeps scroll */
}